@use "breakpoints";

.optionSelect {
  display: none;
}

.optionList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: opacity 0.1s;
}

@include breakpoints.below(breakpoints.$bp-1100) {
  .optionSelect {
    display: block;
  }

  .optionList {
    display: none;
  }
}
